[package]
name = "authotron"
version = "0.2.8"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
aide = { version = "~0.15.1", features = [
    "axum",
    "axum-multipart",
] }
async-trait = "~0.1.88"
axum = "~0.8.6"
cached = { version = "~0.51.4", features = ["async", "tokio"] }
chrono = "~0.4.40"
figment = { version = "~0.10.19", features = ["yaml", "env"] }
futures = "~0.3.31"
http = "~1.1.0"
hyper = "~1.4.1"
inline_colorization = "~0.1.6"
jsonwebtoken = "~9.3.1"
ldap3 = "~0.11.5"
mongodb = "~2.8.2"
r2d2 = "~0.8.10"
reqwest = { version = "~0.12.15", features = ["json"] }
schemars = "~0.8.22"
semver = { version = "~1.0.26", features = ["serde"] }
serde = { version = "~1.0.219", features = ["derive"] }
serde_json = "~1.0.140"
tokio = { version = "~1.47.1", features = ["full"] }
tower = "~0.4.13"
uuid = { version = "~1.8.0", features = ["v4"] }
# Core tracing
tracing = "~0.1"
# Subscriber implementations & formatting layers
tracing-subscriber = { version = "~0.3", features = ["env-filter", "json"] }
# Bridge older `log` calls into `tracing`
tracing-log = "~0.1"
base64 = "~0.22.1"
mockito = "~1.6.1"
